body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  position: relative;
  background-image: url('../imgs/tu-imagen.jpg'); /* ajusta la ruta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 4rem 2rem;
  text-align: center;
  z-index: 0;
  overflow: hidden;
  font-weight: 600;
}

#Hero-Section::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* oscurece la imagen */
  z-index: 1;
}

#Hero-Section > * {
  position: relative;
  z-index: 2; /* asegura que el contenido esté sobre el overlay */
}


/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
.card-img-top {
  height: 180px;        
  object-fit: cover;    
  width: 100%;          
  border-radius: 0.25rem 0.25rem 0 0; 
}
